In [35]:
import pandas as pd
from kafka import KafkaProducer
from kafka.errors import KafkaError
import json
from s3fs import S3FileSystem
from time import sleep

In [36]:
df = pd.read_csv("data/sample_stock_data.csv")
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume
0,NYA,1965-12-31,528.690002,528.690002,528.690002,528.690002,528.690002,0
1,NYA,1966-01-03,527.210022,527.210022,527.210022,527.210022,527.210022,0
2,NYA,1966-01-04,527.840027,527.840027,527.840027,527.840027,527.840027,0
3,NYA,1966-01-05,531.119995,531.119995,531.119995,531.119995,531.119995,0
4,NYA,1966-01-06,532.070007,532.070007,532.070007,532.070007,532.070007,0

In [37]:
df.sample(1).values

array([['NYA', '1966-09-02', 442.089996, 442.089996, 442.089996,
        442.089996, 442.089996, 0]], dtype=object)

In [38]:
['NYA', '1966-06-20', 495.48999, 495.48999, 495.48999, 495.48999,
        495.48999, 0]

['NYA', '1966-06-20', 495.48999, 495.48999, 495.48999, 495.48999, 495.48999, 0]

In [39]:
producer = KafkaProducer(bootstrap_servers=['18.119.19.35:9092'], value_serializer=lambda m: json.dumps(m).encode('utf-8'))
topic = 'quickstart_events'

In [40]:
while True:
    record = df.sample(1).to_dict(orient='records')[0]
    producer.send(topic, record)   
    sleep(1.5)

KeyboardInterrupt:

In [ ]:
producer.flush()